version: '3.8'

services:
  db:
    image: mysql:latest
    restart: always
    container_name: ${CONTAINER_NAME}_mysql_db
    ports:
      - 3306:3306 # HOST:CONTAINER
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_USER: ${MYSQL_ROOT_USER}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./mysql_db:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u ${MYSQL_ROOT_USER} --password=${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 2s
      retries: 100
    networks:
      - intropageBackendNet
  
  api:
    build:
      context: ./API
      dockerfile: Dockerfile
    restart: always
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    command: bash -c "
      sleep 1m &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py createsuperuser --noinput --userid ${DJANGO_ADMIN_ID} --password ${DJANGO_ADMIN_PASSWORD} --nickname ${DJANGO_ADMIN_NICKNAME} --email ${DJANGO_ADMIN_EMAIL} ;
      gunicorn --certfile=/etc/letsencrypt/live/kmj36.duckdns.org/fullchain.pem --keyfile=/etc/letsencrypt/live/kmj36.duckdns.org/privkey.pem --bind 0.0.0.0:${DJANGO_PORT} django_app.wsgi:application"
    container_name: ${CONTAINER_NAME}_django_api
    ports:
      - ${DJANGO_PORT}:${DJANGO_PORT} # HOST:CONTAINER
    links:
      - db:db
    depends_on:
      db:
        condition: service_healthy
    environment:
      DJANGO_DEBUG_MODE: ${DJANGO_DEBUG_MODE}
      DJANGO_ALLOWED_HOST: ${DJANGO_ALLOWED_HOST}
      DJANGO_DATABASES_HOST: ${DJANGO_DATABASES_HOST}
      DJANGO_DATABASES_PORT: ${DJANGO_DATABASES_PORT}
      DJANGO_ADMIN_ID: ${DJANGO_ADMIN_ID}
      DJANGO_ADMIN_PASSWORD: ${DJANGO_ADMIN_PASSWORD}
      DJANGO_ADMIN_NICKNAME: ${DJANGO_ADMIN_NICKNAME}
      DJANGO_ADMIN_EMAIL: ${DJANGO_ADMIN_EMAIL}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_USER: ${MYSQL_ROOT_USER}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      DJANGO_PRIVATE_API_MODE: ${DJANGO_PRIVATE_API_MODE}
      PRIVATE_API_AES_ENCRYPTION_KEY: ${PRIVATE_API_AES_ENCRYPTION_KEY}
    networks:
      - intropageBackendNet

  web:
    image: nginx:latest
    restart: always
    container_name: ${CONTAINER_NAME}_nginx_web
    ports:
      - 443:443 # HOST:CONTAINER
      - 80:80 # HOST:CONTAINER
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./App:/usr/share/nginx/html/
      - /etc/letsencrypt:/etc/letsencrypt
    links:
      - api:api
    environment:
      REACT_APP_TITLE: ${REACT_APP_TITLE}
      REACT_APP_EMAILJS_SERVICE_ID: ${REACT_APP_EMAILJS_SERVICE_ID}
      REACT_APP_EMAILJS_PUBLIC_KEY: ${REACT_APP_EMAILJS_PUBLIC_KEY}
      REACT_APP_EMAILJS_TEMPLATE_ID: ${REACT_APP_EMAILJS_TEMPLATE_ID}
      REACT_APP_API_HOST: ${REACT_APP_API_HOST}
      REACT_APP_API_PORT: ${REACT_APP_API_PORT}

networks:
  intropageBackendNet:
    driver: bridge